<div class="footer">
    <img src="{{ asset('img/logo-big.png')}}" alt="" height="150px">
        <div class="textMenu">
            <h5>Accueillir le projet</h5>
            <h5>Investir</h5>
            <h5>Faites un don</h5>
            <h5>FAQ</h5>
        </div>
</div>